<div class="col-md-10 offset-md-1 mt-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <h3>MYイベント</h3>
    </div>
    <div class="col-md-8">
<!--      <h3><%#= @current_user.name %></h3>-->
      <h4>参加しているイベント</h4>
      <% @current_user.joined_events.each do |event| %>
        <%= link_to event.title, event_path %>
        <hr>
      <% end %>
      <h4>作成したイベント</h4>
      <% @current_user.events.each do |event| %>
        <%= link_to event.title, event_path %>
        <hr>
      <% end %>
    </div>
    <%= link_to "イベント一覧に戻る", events_path, class: "btn btn-secondary" %>
  </div>
</div>
