<header class="masthead text-center text-white d-flex" style="background-image:url('/assets/img/header.jpg');">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h3 class="text-uppercase"><strong>ボタン1つで気軽に勉強会</strong></h3>
      </div>
    </div>
  </div>
</header>
<section id="portfolio" class="p-0"></section>
<section class="bg-dark text-white" style="height: 3000px;"><figure class="snip1253">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample52.jpg" alt="sample52"/></div>
  <figcaption>
    <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
    <h3>The World Ended Yesterday</h3>
    <p>
      I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
    </p>
  </figcaption>

</figure>
  <figure class="snip1253 hover">
    <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample66.jpg" alt="sample66"/></div>
    <figcaption>
      <div class="date"><span class="day">17</span><span class="month">Nov</span></div>
      <h3>An Abstract Post Heading</h3>
      <p>
        Sometimes the surest sign that intelligent life exists elsewhere in the universe is that none of it has tried to contact us.
      </p>
    </figcaption>
    <footer>
      <div class="views"><i class="ion-eye"></i>1,870</div>
      <div class="love"><i class="ion-heart"></i>973</div>
      <div class="comments"><i class="ion-chatboxes"></i>85</div>
    </footer><a href="#"></a>
  </figure>
  <figure class="snip1253">
    <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample59.jpg" alt="sample59"/></div>
    <figcaption>
      <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
      <h3>Down with this sort of thing</h3>
      <p>
        I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
      </p>
    </figcaption>
    <footer>
      <div class="views"><i class="ion-eye"></i>928</div>
      <div class="love"><i class="ion-heart"></i>198</div>
      <div class="comments"><i class="ion-chatboxes"></i>23</div>
    </footer><a href="#"></a>
  </figure></section>
