<!-- app/views/events/show.html.erb -->

<div class="col-md-10 offset-md-1 mt-5">
  <h2><%= @event.title %></h2>
  <ul>
    <li><%= @event.date %></li>
    <li><%= @event.address %></li>
  </ul>
  <%= simple_format @event.description %>
</div>
